table, td, th{
    border: solid 1px black;
    border-collapse: collapse;
}

form{
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
}
form label{
    display: flex;
    margin: 5px;
}
form label input{
    margin-left: 5px;
    flex-grow: 1;
}